.loop-slider-type-1{
    width: 100%;
    height: auto;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 400px;
    padding: 20px 0;
    background-image: url('../img/slider-loop-type-1.png');
    .loop-slider-tabs{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        .loop-slider-title{
            font-family: 'aviny';
            color: #fff;
            font-size: 35px;
            display: flex;
            width: 100%;
            justify-content: center;
            
        }
        .slider-loop-menu{
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            padding: 0 !important;
            margin-top: 10px;
            li{
                .active{
                    color: $pred;
                }
                a{
                    display: block;
                    padding: 7px 0;
                    padding-right: 20px;
                    color: #fff;
                    font-family: 'shabnam';
                    font-weight: bold;
                    font-size: 16px;
                    transition: all ease-in-out .3s;
                    position: relative;
                    &:hover{
                        color: $pred;
                    }
                    &::after{
                        content: '\F0496';
                        position: absolute; 
                        right: 0;
                        top: 5px;
                        font-family: 'Material Icons';
                        transform: rotate(180deg);
                    }
                }
            }
        }
        .see-more{
            width: 140px;
            height: 45px;
            border: 1px solid #fff;
            color: #fff;
            font-family: 'IRsans';
            margin: 20px 0;
            font-weight: bold;
            display: flex;
            justify-content: flex-start;
            padding-right: 10px;
            align-items: center;
            font-size: 14px;
            border-radius: 15px 0px 0 15px;
            position: relative;
            transition: all ease-in-out .3s;
            margin-right: auto;
            margin-left: auto;
            &:hover{
                color: #333;
                background-color: #fff;
            }
            &::after{
                content: '\F013D';
                font-family: 'Material Icons';
                position: absolute;
                left: 10px;
                top: 8px;
                font-size: 20px;
            }
        }
    }
    .tab-content{
        width: 100%;
        height: 100%;
        .tab-pane{
            height: 100%;
            width: 100%;
            .owl-loop-slider-type-1{
                background-color: transparent;
                height: 100%;
                padding-bottom: 10px;
                .owl-stage-outer{
                    padding-bottom: 10px !important;
                }
                .item{
                    //max-width: 200px;
                    
                    display: flex;
                    justify-content: center;
                    align-items: flex-start;
                    .product-item{
                        background-color: #fff;
                        max-width: 200px;
                        border-radius: $radius;
                        overflow: hidden;
                        width: 100%;
                        
                        display: flex;
                        justify-content: center;
                        align-items: flex-start;
                        flex-direction: column;
                        position: relative;
                        -webkit-box-shadow: 0 2px 12px -5px #000;
                        -moz-box-shadow:0 2px 12px -5px #000;
                             box-shadow:0 2px 12px -5px #000;
                             transition: all ease-in-out .25s;
                             &:hover{
                                box-shadow:2px 5px 15px -4px #000;

                             }
                             .product-off{
                                 position: absolute;
                                 top: 10px;
                                 right: -30px;
                                 width: 100px;
                                 height: 30px;
                                 color: #fff;
                                 display: flex;
                                 justify-content: center;
                                 align-items: center;
                                 font-family: "IRsans";
                                 font-weight: bold;
                                 background-color: $pred;
                                 transform: rotate(45deg);
                                 z-index: 100;
                             }
                        .product-top{
                            width: 100%;
                            position: relative;
                            padding-top: 10px;
                            overflow: hidden;
                            &:hover .product-overlay{
                                transform: translateY(0);
                            }
                            .product-overlay{
                                width: 100%;
                                transform: translateY(-100%);
                                height: 100%;
                                bottom: 0;
                                left: 0;
                                background-color: rgba(0,0,0,.4);
                                position: absolute;
                                z-index: 101;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                transition: all ease-in-out .3s;
                                a{
                                    display: flex;
                                    width: 50px;
                                   height: 50px;
                                   justify-content: center;
                                   align-items: center;
                                    i{
                                        font-size: 30px;
                                        color: #fff;
                                        transition: all ease-in-out .2s;
                                    }
                                    &:hover{
                                        i{
                                            color: $pred;
                                        }
                                    }
                                }
                            }
                            img{
                                width: 100%;
                                max-width: 200px;
                            }
                        }
                        .product-body{
                            width: 100%;
                           display: flex;
                           flex-direction: column;
                           align-items: center;
                           justify-content: center; 
                           padding: 20px 5px;
                           .product-title{
                            font-family: "shabnam";
                            color: #555;
                            font-size: 13px;
                            font-weight: bold;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            text-align: center;
                            flex-wrap: wrap;
                            width: 100%;
                            min-height: 30px;
                           }
                           .price{
                               width: 100%;
                               display: flex;
                               justify-content: center;
                               align-items: center;
                               .before{
                                   color: $lightc;
                                   font-size: 11px;
                                   font-family: 'IRsans';
                                   margin-left: 5px;
                               }
                               .after{
                                color: #333;
                                margin-right: 5px;
                                font-weight: bold;
                                font-size: 13px;
                                font-family: 'IRsans';
                            }
                           }
                           .product-details-btn{
                               margin-top: 10px;
                               background-color: $pred;
                               color: #fff;
                               font-family: "shabnam";
                               font-size: 12px;
                               width: 100px;
                               border-radius: $radius;
                               height: 35px;
                               font-weight: bold;
                               display: flex;
                               justify-content: center;
                               align-items: center;
                               position: relative;
                               box-sizing: border-box !important;
                               transition: all ease-in-out .3s;
                               &:hover{
                                   border: 1px solid $pred;
                                   color: $pred;
                                   background-color: #fff;
                                   &::after{
                                       color: $pred;
                                       top: 8px;
                                       //left: 18px;
                                   }
                               }
                               &::after{
                                   content: '\F0141';
                                   font-family: "Material Icons";
                                   color: #fff;
                                   position: absolute;
                                   top: 8.5px;
                                   left: 20px;
                                   transition: all ease-in-out 0s;

                               }
                           }
                        }
                    }
                }
            }
        }
    }
}
@media screen and (max-width:991px){
    .loop-slider-type-1{
        .owl-loop-slider-type-1{
            .product-top{
                .product-overlay{
                    position: static !important;
                    height: 40px;
                    transform: translateY(0) !important;
                    background-color: #fff !important;
                    i{
                        color: $pred !important;
                    }
                }
            }
            .product-body{
                padding-top:0 !important;
            }
        }
    }
}