  #main-nav{
    width: 100%;
    height: 50px;
    background-color: red;
    margin-top: 65px;
    position:fixed;
    transition: all ease-in-out .3s;
  }
  .hide-main-nav{
    transform: translateY(-200%);
  }