  #main-nav{
    width: 100%;
    height: 50px;
    background-color: #fff;
    position:fixed;
    transition: all ease-in-out .3s;
    .close-btn-res-menu{
        display: none;
    }
    .menu-logo{
      display: none; 
    }
    .main-menu{
      display: flex;
      margin-bottom: 0 !important;
      > li{
          display: flex;
        >a{
          width: 100%;
          color: #333 !important;
          font-family: 'shabnam' !important;
          font-size: 13px;
          font-weight: 600;
        }
      }
    }
  }
  
  @media screen and(min-width:992px){
    #main-nav{
      -webkit-box-shadow: 0 10px 6px -6px rgba(150,150,150,.5);
      box-shadow: 0 10px 6px -6px rgba(150,150,150,.5);
      margin-top: 65px;

       //@extend// -moz-box-shadow: 0 10px 6px -6px #777;
           //  box-shadow: 0 10px 6px -6px #777;
      .main-menu{
        justify-content: flex-start;
        align-items: center;
        height: 50px;
        position: relative;
        width: 100%;
         >li{
           justify-content: center;
           align-items: center;
           height: 100%;
           position: relative;
           &::after{
            position: absolute;
            content: '';
            width: 0%;
            height: 3px;
            bottom: 0;
            left: 49%;
            background-color: $pred;
            transition: all ease-in-out .4s;
          }
          &::before{
           position: absolute;
           content: '';
           width: 0%;
           height: 3px;
           bottom: 0;
           right:  49%;
           background-color: $pred;
           transition: all ease-in-out .4s;
         }
         &:hover{
           >ul{
             display: flex;
           }
           >a{
             font-weight: bold;
           }
           &::after{
             width: 50%;
             height: 3px;
            
           }
           &::before{
             width: 50%;
             height: 3px;
           }
         }
         >a{
          width: 100%;
          height: 30px;
          margin: auto 0;
          display: flex;
          padding: 0 10px;
          justify-content: center;
          align-items: center;

         }
          >ul{
            display: flex;
            flex-direction: column;
            z-index: 100;
            position: absolute;
            width: 220px;
            height: auto;
            min-height: 600px;
            background-color: #f4f4f4;
            border-top: $border;
            border-right: $border;
            border-bottom: $border;
            height: auto;
            top: 0;
            margin-top: 50px;
            right: 0;
            .menu-item-has-children{
              >a{
                &::after{
                  font-family: 'Material Icons';
                  content: "\F0141";
                  position: absolute;
                  left: 10px;
                  font-size: 20px;
                  
                }
              }
            }
            >li{
              padding:0 10px;
              width: 100%;
              height: 40px;
              display: flex;
              justify-content: flex-start;
              align-items: center;
              border-bottom: $border;
              transition: all ease-in-out .3s;

              &:hover{
                background-color: $pred;
                color: #fff !important;
                >ul{
                  display: flex;
                }
                >a{
                  color: #fff !important;
                  padding-right: 12px;
                  .mega-menu-icon{
                    color: #fff;
                   
                  }
                }
              }
              >a{
                height: 100%;
                width: 100%;
                color: #555 !important;
                display: block;
                display: flex;
              justify-content: flex-start;
              align-items: center;
              font-size: 13px;
              font-family: 'shabnam';
              font-weight: bold;
              transition: all ease-in-out .2s;
                .mega-menu-icon{
                  width: 25px;
                  color: $pred;
                  font-size: 20px;
                  margin-left: 15px;
                  
                }
              }
              ul{
                display: flex;
                position: absolute;
                width: auto;
                min-width: 1000px;
                height: 100%;
                background-color: #f4f4f4;
                left: -1000px;
                bottom: 0;
                direction: ltr;
                padding:10px;
                border: $border;
                border-top: 0;
                >li{
                  width: 200px;
                  >a{
                    width: auto;
                    font-family: "IRsans";
                    font-weight: bold;
                    color: #333;
                    font-size: 13px;
                    position: relative;
                    
                  }
                }
                .menu-item-has-children{
                  >a{
                    position: relative;
                    &::after{
                      position: absolute;
                      content: '\F0140';
                      left: -25px;
                      top: -5px;
                      font-size: 22px;
                      color: #666;
                      font-family: 'Material Icons';
                    }
                  }
                }
              }
            }
          }
           
         
          
         }
         > .sub-menu-parent{
           >a{
             padding-right: 30px;
            border-left:  $border;
             &::after{
               position: absolute;
               content: '\F035C';
               right: 0;
               font-size: 22px;
               font-family: 'Material Icons';
             }
           }
         }
 }
      }
      .hide-main-nav{
        transform: translateY(-200%);
      }
    }
    
  





  @media screen and (max-width:991px){
    .show-main-nav{
      right: 0 !important;
    }
    #main-nav{
      position: absolute;
      height: 100vh;
      top: 0;
      right: -100%;
      width: 75vw;
      z-index: 1002;
      flex-direction: column;
      .close-btn-res-menu{
        display: flex;
        width: 30px;
        height: 30px;
        margin-top: 20px;
        i{
          font-size: 22px;
          color: $lightc;
        }
      }
      .menu-logo{
        display: flex;
        padding: 10px ;
        justify-content: center;
        align-items: center;
        img{
         width: 150px;
        }
      }
      .main-menu{
       display: flex;
       align-items: center;
       justify-content: flex-start;
       flex-direction: column;
       >li{
         width: 100%;
         height: 40px;
         border-bottom: $border;
         >a{
           display: flex;
           justify-content: flex-start;
           align-items: center;
         }
         >ul{
           >li{
             .mega-menu-icon{
               display: none;
             }
           }
         }
       }
      }
    }
  }