@import 'config.scss';
@import 'variables.scss';
@import 'header.scss'; 
@import 'mainNav.scss';   
@import 'slider.scss';
@import 'loop-sliders.scss';
@import 'ad-rows.scss';
@media screen and(max-width:991px){
    .responsive-overlay{
        position: fixed;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,.5);
        z-index: 1001;
        left: 100%;
        top: 0;
        transition: all ease-in-out .3s;
    }
    .responsive-overlay-show{
        left: 0;
    }

}
.container-fluid{
    max-width: 1600px !important;
}
.c-red{
    color: $pred !important;
}
main{
    background-color: #f8f8f8;
    padding-top: 150px;
} 