@import 'config.scss';
@import 'variables.scss';
@import 'header.scss'; 
@import 'mainNav.scss';   
@media screen and(max-width:991px){
    .responsive-overlay{
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,.5);
        z-index: 1001;
        left: 100%;
        top: 0;
        transition: all ease-in-out .3s;
    }
    .responsive-overlay-show{
        left: 0;
    }

}
.container-fluid{
    max-width: 1600px !important;
}