@import url("https://cdn.materialdesignicons.com/5.3.45/css/materialdesignicons.min.css");
@font-face {
  font-family: 'IRSans';
  src: url("../fonts/IRANSans/woff2/IRANSansWeb.woff2") format("woff2"), url("../fonts/IRANSans/woff/IRANSansWeb.woff") format("woff"), url("../fonts/IRANSans/ttf/IRANSansWeb.ttf") format("truetype");
  /* Safari, Android, iOS */
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: 'IRSans';
  src: url("../fonts/IRANSans/woff2/IRANSansWeb(FaNum)_Bold.woff2") format("woff2"), url("../fonts/IRANSans/woff/IRANSansWeb(FaNum)_Bold.woff") format("woff"), url("../fonts/IRANSans/ttf/IRANSansWeb(FaNum)_Bold.ttf") format("truetype");
  /* Safari, Android, iOS */
  font-style: normal;
  font-weight: bold; }

@font-face {
  font-family: 'IRSans';
  src: url("../fonts/IRANSans/woff2/IRANSansWeb(FaNum)_Light.woff2") format("woff2"), url("../fonts/IRANSans/woff/IRANSansWeb(FaNum)_Light.woff") format("woff"), url("../fonts/IRANSans/ttf/IRANSansWeb(FaNum)_Light.ttf") format("truetype");
  /* Safari, Android, iOS */
  font-style: normal;
  font-weight: lighter; }

@font-face {
  font-family: 'shabnam';
  src: url("../fonts/shabnam/Shabnam-Bold.woff") format("woff"), url("../fonts/shabnam/Shabnam-bold.woff2") format("woff2"), url("../fonts/shabnam/Shabnam-Bold-FD.ttf") format("truetype") format("woff"), url("../fonts/shabnam/Shabnam-bold-FD.woff2") format("woff2"), url("../fonts/shabnam/Shabnam-bold-FD.ttf") format("truetype");
  /* Safari, Android, iOS */
  font-style: normal;
  font-weight: bold; }

@font-face {
  font-family: 'shabnam';
  src: url("../fonts/shabnam/Shabnam-light.woff") format("woff"), url("../fonts/shabnam/Shabnam-light.woff2") format("woff2"), url("../fonts/shabnam/Shabnam-light.ttf") format("truetype"), url("../fonts/shabnam/Shabnam-Light-FD.woff") format("woff"), url("../fonts/shabnam/Shabnam-Light-FD.woff2") format("woff2"), url("../fonts/shabnam/Shabnam-Light-FD.ttf") format("truetype");
  /* Safari, Android, iOS */
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/mdi/materialdesignicons-webfont.woff") format("woff"), url("../fonts/mdi/materialdesignicons-webfont.woff2") format("woff2"), url("../fonts/mdi/materialdesignicons-webfont.ttf") format("truetype"), url("../fonts/mdi/materialdesignicons-webfont.eot") format("eot"); }

* {
  outline: none !important; }

a:hover {
  text-decoration: none !important; }

html, body, * {
  font-family: 'IRSans';
  font-weight: 100;
  font-size: 14px;
  direction: rtl !important;
  text-align: right !important;
  padding: 0;
  margin: 0; }

li {
  list-style-type: none !important; }

button {
  border: none;
  background-color: transparent; }

input[type=number] {
  appearance: none !important;
  -moz-appearance: none !important;
  -webkit-appearance: none !important;
  -o-appearance: none !important;
  -ms-appearance: none !important; }

.main-header {
  width: 100%;
  background-color: #fff;
  padding: 10px 0;
  position: fixed;
  z-index: 1000; }
  .main-header .header-logo-section {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .main-header .header-logo-section .main-nav-toggle {
      width: 30px;
      height: 30px;
      display: none;
      justify-content: center;
      align-items: center; }
      .main-header .header-logo-section .main-nav-toggle i {
        font-size: 35px;
        color: #76787A; }
    .main-header .header-logo-section .header-logo {
      width: 150px;
      height: 45px; }
      .main-header .header-logo-section .header-logo::before {
        font-family: 'Material Icons';
        content: '\F0347';
        height: 28px;
        width: 28px;
        top: 10px;
        right: 100px; }
    .main-header .header-logo-section .header-faq {
      display: none;
      justify-content: center;
      align-items: center; }
      .main-header .header-logo-section .header-faq i {
        font-size: 30px;
        color: #76787A; }
  .main-header .header-search-container {
    width: 100%;
    position: relative; }
    .main-header .header-search-container form {
      border-radius: 10px;
      width: 100%;
      height: 45px;
      overflow: hidden; }
      .main-header .header-search-container form button {
        position: absolute;
        width: 50px;
        height: 45px;
        top: 3px;
        right: 10px; }
        .main-header .header-search-container form button i {
          font-size: 25px;
          color: #76787A; }
      .main-header .header-search-container form input {
        width: 100%;
        height: 100%;
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        border: 0 !important;
        padding: 0 40px;
        font-family: 'IRsans';
        font-size: 12px;
        font-weight: bold;
        background-color: #f0f0f1; }
  .main-header .header-action {
    width: 100%;
    direction: ltr !important;
    display: flex; }
    .main-header .header-action .dropdown {
      margin-right: 10px; }
      .main-header .header-action .dropdown .dropdown-toggle {
        width: 100%;
        background-color: #fff;
        height: 45px;
        color: #76787A;
        border: 1px solid #e5e5ea;
        font-size: 12px;
        font-weight: bold;
        border-radius: 10px;
        padding-right: 30px;
        padding-left: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'shabnam' !important; }
        .main-header .header-action .dropdown .dropdown-toggle:focus {
          outline: none !important; }
      .main-header .header-action .dropdown #header-account::after {
        font-family: 'Material Icons';
        content: '\F0013' !important;
        border: 0 !important;
        font-size: 25px;
        position: absolute;
        top: 0px !important;
        right: 5px !important;
        margin-left: 15px !important;
        width: 30px;
        height: 30px;
        color: #76787A !important;
        font-weight: lighter; }
      .main-header .header-action .dropdown #header-mini-cart::after {
        font-family: 'Material Icons';
        content: '\F1181' !important;
        border: 0 !important;
        font-size: 25px;
        position: absolute;
        top: 0px !important;
        right: 5px !important;
        margin-left: 15px !important;
        width: 30px;
        height: 30px;
        color: #76787A !important;
        font-weight: lighter; }

@media screen and (max-width: 991px) {
  .main-header .header-row {
    border-bottom: 1px solid #e5e5ea !important; }
  .main-header .header-logo-section .main-nav-toggle, .main-header .header-logo-section .header-faq {
    display: flex; }
  .main-header .header-search-container {
    margin-top: 10px; }
  .main-header .header-action {
    margin-top: 10px;
    display: flex;
    justify-content: space-around; }
    .main-header .header-action .dropdown {
      margin: 0 !important; }
      .main-header .header-action .dropdown .dropdown-toggle {
        width: 45px;
        height: 45px;
        padding: 0 !important;
        margin: 0 !important;
        border: 0 !important;
        display: flex;
        justify-content: center;
        align-items: center; }
      .main-header .header-action .dropdown #header-account::after, .main-header .header-action .dropdown #header-mini-cart::after {
        margin-top: -15px !important;
        border: 0 !important;
        font-size: 30px !important;
        position: static;
        top: 0px !important;
        right: 5px !important;
        margin-left: 0px !important;
        width: 30px;
        height: 30px;
        color: #76787A !important;
        font-weight: lighter; } }

#main-nav {
  width: 100%;
  height: 50px;
  background-color: red;
  margin-top: 65px;
  position: fixed;
  transition: all ease-in-out .3s; }

.hide-main-nav {
  transform: translateY(-200%); }
